<main>
  <img class="logo" src="assets/logo.svg" alt="" />

  <div class="pick-container">
    <p class="pick-title">PICK PLAYER 1'S MARK</p>

    <div class="pick-button-container">
      <!-- <button><img class="icon-x" src="assets/icon-x.svg" alt="X" /></button> -->
      <!-- <button><img class="icon-o" src="assets/icon-o.svg" alt="O" /></button> -->

      <div
        class="button-background"
        [class.button-background-selected]="configService.player == 'X'"
        (click)="configService.changePlayer(true)"
      >
        <button
          class="icon-x button"
          [class.icon-selected]="configService.player == 'X'"
        ></button>
      </div>
      <div
        class="button-background"
        [class.button-background-selected]="configService.player == 'O'"
        (click)="configService.changePlayer(false)"
      >
        <button
          class="icon-o button"
          [class.icon-selected]="configService.player == 'O'"
        ></button>
      </div>
    </div>

    <p class="pick-subtitle">REMEMBER: X GOES FIRST</p>
  </div>

  <button
    class="button secondary-button"
    (click)="configService.setOpponent(true);"
  >
    NEW GAME (VS CPU)
  </button>
  <button
    class="button primary-button"
    (click)="configService.setOpponent(false)"
  >
    NEW GAME (VS PLAYER)
  </button>

  <div class="credits-container">
    <!-- <p class="credits">By Chris Georgoulis</p> -->
    <p class="powered-by">Powered By: 
      <!-- <img class="angular-logo" src="https://icon-library.com/images/css3-icon/css3-icon-28.jpg" alt=""> -->
      <img class="angular-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/240px-Angular_full_color_logo.svg.png" alt="">
      <img class="ts-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Typescript.svg/768px-Typescript.svg.png" alt="">
      <img class="ts-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/480px-Unofficial_JavaScript_logo_2.svg.png" alt="">
    </p>
  </div>

</main>
